
.animal-section{
    padding: 1rem;
    padding-right: 0rem;
    margin: 1vw;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 8px 8px 4px -1px rgb(70, 68, 68), 
    0 1px 1px 0 rgba(0,0,0,1), 
    0 1px 3px 0 rgba(0,0,0,1);
}

.animal-section:hover{
    transform: scale(1.06);
    transition: all 0.5s ease-in-out 0.1s;
}


   .inst2{
   
       margin: 0.1rem;   
       padding: 0.1rem;
       padding-right: 2rem;
       font-size: 1.2rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       font-family: 'Bree Serif', serif;
       background-color: rgb(201, 37, 114);
   box-shadow: 8px 8px 4px -1px rgb(70, 68, 68), 
   0 1px 1px 0 rgba(0,0,0,1), 
   0 1px 3px 0 rgba(0,0,0,1);
   }

.animal-list{
    font-family: 'Bree Serif', serif;
    padding: 1rem;
    list-style-type:none;
    display: flex;
    justify-content:space-around ;
    flex-direction: column;
}

.top{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(0, 0, 0);
}

.box-container
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: initial;
}

li{
    white-space: nowrap;
    padding:0.2rem;
    word-wrap: break-word;
    white-space: initial;

}


.inst{

    margin: 0.5rem;   
    padding: 0.5rem;
    padding-right: 2.3rem;
    background-color: rgb(248, 165, 10);
    font-size: 1.2rem;
    word-wrap: break-word;
    white-space: initial;
   width: 60%;
   font-family: 'Bree Serif', serif;
   box-shadow: 8px 8px 4px -1px rgb(70, 68, 68), 
   0 1px 1px 0 rgba(0,0,0,1), 
   0 1px 3px 0 rgba(0,0,0,1);
   
   }
   
   
   .inst:hover{
       transform: scale(1.06);
       transition: all 1s ease-in-out 0.1s;
   }
   
   .inst2{
   
       margin: 1rem;   
       padding: 1rem;
       padding-right: 2rem;
       font-size: 1.2rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       font-family: 'Bree Serif', serif;
       background-color: rgb(224, 115, 166);
   box-shadow: 8px 8px 4px -1px rgb(70, 68, 68), 
   0 1px 1px 0 rgba(0,0,0,1), 
   0 1px 3px 0 rgba(0,0,0,1);
   }

   .timer{
    font-family: 'Bree Serif', serif;

    color:blue;font-size:1.5rem;font-weight:600
   }

   .in-timer{
   
   color: black;

   }

   .timer-out
   {
    margin: 2rem;
    background-color: rgb(255, 42, 141);
    box-shadow: 8px 8px 4px -1px rgb(70, 68, 68), 
    0 1px 1px 0 rgba(0,0,0,1), 
    0 1px 3px 0 rgba(0,0,0,1);
   }


   

#slide-frame{
    left: -1020px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 1s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
